.form {
  color: white;
}
.try {
  color: white;
}
.jumbotron {
  margin: 20px;
  border-top: 10px solid white;
  background-image: url("/Images/newAkan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.description {
  color: black;
  font-size: large;
}
body {
  background-color: rgb(240, 167, 11);
}
.akanNames {
  color: rgba(255, 38, 0, 0.938);
}
.akann {
  border-style: inset;
  width: fit-content;
  padding: 5px;
  margin: 10px;
}
.akan {
  margin: 2px;
  color: white;
  border-left: 8px dotted blue;
  font-size: large;
}
.card-text {
  color: white;
  font-size: large;
}
