body {
  background-color: rgb(240, 167, 11);
}
.try {
  color: white;
}
.jumbotron {
  margin: 20px;
  border-top: 10px solid white;
  background-image: url("/Images/akan\ three.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.description {
  color: white;
  font-size: large;
}
body {
  background-color: rgb(240, 167, 11);
}
.akanNames {
  color: rgba(255, 38, 0, 0.938);
}
.akann {
  border: 2px solid white;
}
.akan {
  margin: 2px;
  color: white;
  border-left: 8px dotted blue;
  font-size: large;
}
